* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body { 
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  background: #f5f5f5;
}

body, input, button {
  font-size: 18px;
  outline: 0;
}